:root{
    --heart-color: #eca0ad;
    --hover-color: #C1275C;
    --background-color: #ebc8c0;
    --background-image: linear-gradient(120deg, #b51d66, #000000);
    --white: #fff;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-image: linear-gradient(90deg,#000000,#5f3362, #ad39b5,#b006a4);
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
color: var(--heart-color);
font-style: italic;
}
.text{
    color:#000000;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
.card {
border-radius: 15px;
padding: 20px;
text-align: center;
width: 300px;
}
.title {
font-size: 24px;
margin-top: 0;
}
.heart {
width: 200px;
height: 200px;
position: relative;
display: inline-block;
margin-bottom: 15px;
background-repeat:  no-repeat;
background-size: 100%;
}

.button {
background-color: var(--heart-color);
color: var(--white);
border: none;
padding: 10px 20px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 10px 2px;
cursor: pointer;
border-radius: 5px;
width: 80px;
}
.button:hover {
background-color: var(--hover-color);

}
.button.button__negative{
background-color: var(--white);
color: var(--heart-color);
border: 1px solid var(--heart-color);
}
.button.button__negative:hover{
background-color:#b96e7b;
color: white;
}
.button.button__error{
width: 100%;
display: none;
}
.button:focus {
outline: none;
}
.text {
font-size: 20px;
margin-top: 30px;
}
.img-fluid {
width: 100%;
height: auto;
}

.hoja {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.hoja p:nth-child(1){
    text-align: center;
    justify-content: center;
    font-family: cursive;
    font-size: 15.5px;
    font-style: italic;
    font-weight: bold;
    color: #000000;
    margin-top: 30%;
    padding: 0 10px 0 6px;
}
.hoja p:nth-child(2){
    text-align: center;
    font-family:fantasy;
    font-style: italic;
    font-weight: bold;
    margin-top: -20px;
    color: #810d3e;
}
